<div ng-init="g.init()">

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="alert alert-success alert-dismissible" role="alert" ng-if="g.succesMessage != ''">
                {{ g.succesMessage }}
            </div>
            <div class="alert alert-danger" ng-if="g.errorMessage != ''">
                {{ g.errorMessage }}
            </div>

            <add-game></add-game>
            <div class="buttonbar">
                <label>Status: <input ng-model="search.state"></label>
            </div>

            <table class="table table-nonfluid">
                <thead>
                    <td ng-click="g.setOrderBy('createdBy.name')"><strong>Gemaakt door</strong></td>
                    <td ng-click="g.setOrderBy('createdOn')"><strong>Gemaakt op:</strong></td>
                    <td ng-click="g.setOrderBy('amountOfPlayers')"><strong>Spelers</strong></td>
                    <td ng-click="g.setOrderBy('state')"><strong>State</strong></td>
                </thead>
                    <tr ng-repeat="game in g.getGames() | filter:search | orderBy:g.order:g.reverse">
                        <td>{{game.getCreatorName()}}</td>
                        <td>{{game.getCreatedOn()| date:'dd-MM-yyyy' }}</td>
                        <td>{{game.getAmountOfPlayers()}} / {{game.getMaxPlayers()}}</td>
                        <td>{{game.getState()}}</td>
                        <td>
                            <div ng-if="game.canIJoin()">
                                <button class="btn btn-primary" ng-click="g.joinGame(game.getId())">Join</button>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-info" ng-click="g.showDetail(game)" >Detail</button>
                        </td>
                        <td>
                            <div ng-if="game.state == 'playing'">
                                <button class="btn btn-success" ui-sref="showGame({game: game,canPlay: game.canPlay()})">View Game</button>
                            </div>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
</div>