<div ng-init="g.init()">

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="alert alert-success alert-dismissible" role="alert" ng-if="g.succesMessage != ''">
                {{ g.succesMessage }}
            </div>
            <div class="alert alert-danger" ng-if="g.errorMessage != ''">
                {{ g.errorMessage }}
            </div>

            <add-game></add-game>
            <button class="btn btn-default" ng-click="g.setOrderBy('state')">sort: status</button>
            <button class="btn btn-default" ng-click="g.setOrderBy('createdOn')">sort: gemaakt op</button>
            <button class="btn btn-default" ng-click="g.setOrderBy('createdBy.name')">sort: gemaakt door</button>
            <label>Status: <input ng-model="search.state"></label>
            <table class="table table-nonfluid">
                <thead>
                    <td><strong>Gemaakt door</strong></td>
                    <td><strong>Min spelers</strong></td>
                    <td><strong>Max spelers</strong></td>
                    <td><strong>Aantal spelers</strong></td>
                    <td><strong>State</strong></td>
                </thead>
                    <tr ng-repeat="game in g.getGames() | filter:search | orderBy:g.order:g.reverse">
                        <td> {{game.getCreatorName()}}</td>
                        <td> {{game.getMinPlayers()}}</td>
                        <td> {{game.getMaxPlayers()}}</td>
                        <td> {{game.AmountOfPlayers()}}</td>
                        <td> {{game.getState()}}</td>
                        <td>
                            <div ng-if="game.canIJoin()">
                                <button class="btn btn-primary" ng-click="g.joinGame(game.getId())">Join</button>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-info" ng-click="g.showDetail(game)" >Detail</button>
                        </td>
                        <td>
                            <div ng-if="game.state == 'playing'">
                                <button class="btn btn-success" ui-sref="showGame({id: game.getId()})">View Game</button>
                            </div>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
</div>