@import "config";
@import "tile";

.table-nonfluid {
    width: auto !important;
}
.naamCategorie {
    display: inline-block;
}

.naamvalue {
    display: inline-block;
}

.board {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
}
.message-box{
    width: 30%;
    margin: auto;
}