<!--game detail model-->
<div class="modal-header">
    <button ng-click="mt.changeStyle()" class="btn btn-default">Change style</button>
    <button type="button" class="close" ng-click="mt.cancel()">&times;</button>
    <h4 class="modal-title">Matched tiles</h4>

</div>
<div class="modal-body">
    <div class="container">
        <div ng-repeat="player in mt.getPlayers()">
            <div class="col-sm-2">
                <strong>{{player.name}}</strong>
                <div ng-repeat="matchedTile in mt.getMatchedTiles()">
                    <div class="row">
                        <div ng-repeat="tile in matchedTile">
                            <div ng-if="tile.match.foundBy === player._id">
                                <div class="tile show {{mt.tileStyle}} {{tile.tile.suit}}{{tile.tile.name}} col-sm-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
</div>
