<div ng-class="sg.style ? 'changeStyle' : 'changeStyle2'">

    <button class="btn btn-default" ng-click="sg.showMatchTiles()">Matched tiles</button>
    <button ng-click="sg.changeStyle()" class="btn btn-default">Change style</button>

    <!--show game model-->
    <div class="message-box">
        <div class="alert alert-info" role="alert" ng-if="sg.infoMessage != ''">

            {{ sg.infoMessage }}
        </div>
        <div class="alert alert-success" role="alert" ng-if="sg.succesMessage != ''">
             {{ sg.succesMessage }}
        </div>
        <div class="alert alert-danger" ng-if="sg.errorMessage != ''">
            {{ sg.errorMessage }}
        </div>
    </div>
    <div class="board">
        <tile ng-repeat="tile in sg.getBoardTiles()"
              tileinfo="tile" match="sg.matchTiles" tile-style="sg.tileStyle">
        </tile>
    </div>
</div>